*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.button{
text-decoration:none;
text-align:center;
color: whitesmoke;
align-content:center
}
.button, a:hover{
    background: rgb(173, 166, 166);
    font-size: large;
    transition: .5s;
}